# Configuration file: AI Makers Kit for Python

[kws]
data: ../data/kwsmodel.pack
sound: ../data/sample_yes.wav

[grpc]
host: gate.gigagenie.ai
port: 4080
cert: ../data/ca-bundle.pem

# set your client key information
[client]
clientid: Y2xpZW50X2lkMTUzODk3NDE2Njg5Nw==
clientkey: Y2xpZW50X2tleTE1Mzg5NzQxNjY4OTc= 
clientsecret: Y2xpZW50X3NlY3JldDE1Mzg5NzQxNjY4OTc=
