#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=블록코드 웹 접속 하기
Exec=sh /home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver/runBlock.sh
Icon=/home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver/etc/excute2.ico
StartupWMClass=crx_nhknbmmkmljkahpjnfhijapcegfdhfbc
Name[ko_KR]=AI 블록코딩 실행하기
Path=/home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver/
X-KeepTerminal=false
